<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">
    <% include includes/top-nav.ejs %>
    <% include includes/side-nav.ejs %>
    <div class="content-wrapper container-fluid">
        <!-- Main content -->
        <h1><%= title %></h1>

        <div class="box box-primary">
            <form id="addGoalForm" onsubmit="addGoal(); return false;">
                <div class="box-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="category" style="width:100%">Categories</label>
                        <select class="selectpicker" style="width:100%" id="category" name="category" data-live-search="true">
                            <option selected value="0">Total Spending</option>
                            <option value="-1">Savings Goal</option>
                        <% for (category of categories) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="amount">Amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" id="amount" name="amount" min="0" step="0.50" value="0.00" autocomplete="off"/>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Add Goal</button>
                </div>
            </div>
            </form>
        </div>

        <h1>My Goals</h2>
        <table class="table">
            <thead>
                <td><b>Goal Type</b></td>
                <td><b>Amount</b></td>
            </thead>
            <% for (goal of goals) { %>
            <tr>
                <td><%= goal.name %></td>
                <td>$<%= goal.amount %> per month</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <% } %>
        </table>
            <!-- /.content -->
    </div>
        <!-- /.content-wrapper -->

    <% include includes/footer.ejs %>

</div>
</div>
    <!-- ./wrapper -->
    <% include includes/jsDefaults.ejs %>

    <script type="text/javascript" src="/javascripts/addGoal.js"></script>

</body>
</html>