<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">
        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper container-fluid">
            <!-- Main content -->
            <h1><%= title %></h1>
                <a href="/portfolio/addInvestment" class="btn btn-success"><i class="fa fa-plus"></i>add investment</a>
            <!-- /.content -->
            <table id="portfolios" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Symbol </th>
              <th>Bought Price </th>
              <th>Share Amount</th>
              <th>First Trade </th> 
              <th>Status </th>
              <th>Last Price</th>
              <th>Change</th>
              <th>%Change</th>
              <th>Volumn</th>
              <th>profit</th>

              
              <th></th>
              <th></th>
            </tr>
            </thead>
      
            <tbody>
                <% for(var i=0; i < portfolios.length; i++) {%>
                <tr>
                <td><%= portfolios[i].Symbol %></td>
                <td><%= portfolios[i].boughtPrice %></td>
                <td><%= portfolios[i].shareAmount %></td>
                <td><%= portfolios[i].firstTrade %></td> 

                <td>emmmmm</td>
                <td><a href="expenses/editPortfolio?id=<%= portfolios[i].id %>">edit</a></td>
                <td><a href="expenses/deletePortfolio?id=<%= portfolios[i].id %>">delete</a></td>
                </tr>
                <% } %>
            </tbody>

   
            </table>
           <script>yahooFinance.historical({
  symbol: SYMBOL,
  from: START_DATE,
  to: END_DATE
}, function (err, quotes) {
  /*
  [
    {
      date: Thu Nov 07 2013 00:00:00 GMT-0500 (EST),
      open: 45.1,
      high: 50.09,
      low: 44,
      close: 44.9,
      volume: 117701700,
      adjClose: 44.9,
      symbol: 'TWTR'
    },
    ...
    {
      date: Thu Nov 14 2013 00:00:00 GMT-0500 (EST),
      open: 42.34,
      high: 45.67,
      low: 42.24,
      close: 44.69,
      volume: 11090800,
      adjClose: 44.69,
      symbol: 'TWTR'
    }
  ]
  */
});</script>
          
            <script type="text/javascript">
                $(document).ready(function() {
                $('#portfolios').DataTable();
                } );
            </script>
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->


</body>
</html>
